{% extends 'base.html.twig' %}

{% block title %}Mon premier e-commerce !
{% endblock %}

{% block body %}
	<h1>Nos produits phares</h1>
	<div class="row">
		{% for p in products %}
			<div class="col">
				<div class="card">
					<img src={{ p.mainPicture }} class="img-fluid" alt="Image du produit">
					<div class="card-body">
						<h4 class="card-title">{{ p.name }}</h4>
						<p class="card-text">{{ p.shortDescription }}</p>
						<a href="#" class="btn btn-primary btn-sm">Détails</a>
						<a href="#" class="btn btn-success btn-sm">Ajouter</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irréprochable</h2>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, saepe?</p>
	<div class="row">
		{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, minima? Inventore architecto porro suscipit excepturi."
		}
            %}
		{% include "shared/_assurance.html.twig" with {
		            'color': 'success',
		            'icone': 'fas fa-check',
		            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, minima? Inventore architecto porro suscipit excepturi."
				}
		            %}
		{% include "shared/_assurance.html.twig" with {
		            'color': 'warning',
		            'icone': 'fas fa-lock',
		            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, minima? Inventore architecto porro suscipit excepturi."
				}
		            %}
	</div>
{% endblock %}
